# dependencias
node_modules/

# compilación de Next.js
.next/
out/
build/
dist/

# variables de entorno locales y secretos
.env
.env*.local

# registros y temporales
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store